.post-button {
    text-align: right;
}
.post-block, .post-block + .post-block {
  border-radius: 6px;
  margin-top: 60px;
  margin-bottom: 60px;
  -webkit-box-shadow: 0 0 5px rgba(202, 203, 203, .5);
  -moz-box-shadow: 0 0 5px rgba(202, 203, 204, .5);
  box-shadow: 0 0 5px rgba(202, 203, 204, .5);
  overflow: hidden;
}

.comments, .pagination,.sidebar-inner,.header-inner {
  border-radius: 6px;
  -webkit-box-shadow: 0 0 5px rgba(202, 203, 203, .5);
  -moz-box-shadow: 0 0 5px rgba(202, 203, 204, .5);
  box-shadow: 0 0 5px rgba(202, 203, 204, .5);
  overflow: hidden;
}

.header-inner {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.site-author-image {
  max-width: 90px;
  -webkit-box-shadow: 0 0 5px rgba(202, 203, 203, .5);
  -moz-box-shadow: 0 0 5px rgba(202, 203, 204, .5);
  box-shadow: 0 0 5px rgba(202, 203, 204, .5);
}

.posts-expand .post-meta {
  margin: 20px 0 40px 0;
}

.beian > img {
  margin: 0 4px;
  vertical-align: middle;
}