.post-button {
    text-align: right;
}
.post-block, .post-block + .post-block {
  border-radius: 6px;
  margin-top: 60px;
  margin-bottom: 60px;
  -webkit-box-shadow: 0 0 5px rgba(202, 203, 203, .5);
  -moz-box-shadow: 0 0 5px rgba(202, 203, 204, .5);
  box-shadow: 0 0 5px rgba(202, 203, 204, .5);
  overflow: hidden;
}

.comments, .pagination,.sidebar-inner,.header-inner {
  border-radius: 6px;
  -webkit-box-shadow: 0 0 5px rgba(202, 203, 203, .5);
  -moz-box-shadow: 0 0 5px rgba(202, 203, 204, .5);
  box-shadow: 0 0 5px rgba(202, 203, 204, .5);
  overflow: hidden;
}

.header-inner {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.site-author-image {
  max-width: 90px;
  -webkit-box-shadow: 0 0 5px rgba(202, 203, 203, .5);
  -moz-box-shadow: 0 0 5px rgba(202, 203, 204, .5);
  box-shadow: 0 0 5px rgba(202, 203, 204, .5);
}

.posts-expand .post-meta {
  margin: 20px 0 40px 0;
}

.beian > img {
  margin: 0 4px;
  vertical-align: middle;
}

.posts-collapse .collection-year {
  margin: 60px 0 0;
}

.post-meta > time {
    padding: 3px 6px;
    border-radius: 8px;
    background-color: #49b1f5;
    color: #fff;
}

.posts-collapse .post-header::before {
  background-color: #b9dbff;
}

.posts-collapse .collection-year::before {
  background-color: #23fc47;
}

.posts-collapse .collection-title::before {
  background-color: #ffc877
}

.links-of-blogroll-item a {
    margin: 0 4px;
    border: 1px solid #999;
    border-radius: 8px;
    font-size: 12px;
}

// -------------------------滚动条样式开始
::-webkit-scrollbar {
    width: 6px;
    background-color: #d8d8d8;
  }
  /* 滚动槽 */
  ::-webkit-scrollbar-track {
    border-radius: 10px;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #bfc1c4;
  }
  // -------------------------滚动条样式结束